.product_card_wraper {
    max-width: 1110px;
    margin: 0 auto;
    background: #F9F6F1;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.product_cart {
    width: 500px;
    max-height: 570px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    background: #fff;

    @media (min-width: 481px) and (max-width: 767px) {
        width: 400px;
    }

    @media (max-width: 480px) {
        width: 280px;
    }
}

.product_card_title {
    margin: 20px auto;
}

.product_card_top {
    flex: 0 0 400px;
    position: relative;
    overflow: hidden;
}

.product_card_image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product_card_image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}



.product_card_bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
}

.product_card_prices {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.product_card_price::after {
    content: "₽";
    margin-left: 5px;
    position: relative;
}

.product_card_price--discount {
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
}

.product_card_price {
    display: flex;
}

.product_card_price--discount::before {
    content: "Со скидкой";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
    margin-right: 5px;
}

.product_card_price--common {
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.product_card_price--common::before {
    content: "Цена";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
    margin-right: 5px;
}



.product_card_add {
    display: block;
    margin: 0 auto;
    width: 50%;
    font-weight: 400;
    font-size: 17px;
    color: #70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #F9F6F1;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
}

.product_card_add:hover {
    border: 1px solid #ff6633;
    background-color: #ff6633;
    color: #fff;
}