.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 918px;

    @media (min-width: 768px) and (max-width: 991px) {
        width: 85%;
    }

    @media (min-width: 481px) and (max-width: 991px) {
        width: 65%;
    }


    @media (max-width: 480px) {
        width: 55%;
    }
}

.menu_list {
    list-style-type: none;
    display: flex;

    @media (min-width: 768px) and (max-width: 991px) {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 40%;
        min-height: 100px;
        background-color: #da996d
    }

    @media (min-width: 481px) and (max-width: 991px) {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 50%;
        min-height: 100px;
        background-color: #da996d
    }

    @media (max-width: 480px) {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 60%;
        min-height: 100px;
        background-color: #da996d
    }
}

.menu_list:nth-last-child(1) {
    @media (min-width: 481px) and (max-width: 991px) {
        flex-direction: column;
        position: absolute;
        top: 239px;
    }

    @media (max-width: 480px) {
        flex-direction: column;
        position: absolute;
        top: 239px;
    }
}

.menu_list_show {
    display: flex;
    z-index: 1000;
}

.menu_item {
    font-size: 14px;
    color: #212121;
    margin-right: 35px;

    @media (min-width: 481px) and (max-width: 991px) {
        margin: 20px 0 5px 15px;
        font-size: 28px;
        margin-right: 15px;
        height: 30px;
    }

    @media (max-width: 480px) {
        margin: 20px 0 5px 15px;
        font-size: 28px;
        margin-right: 15px;
        height: 30px;
    }
}

.menu_item span {
    margin-left: 5px;
}

.menu_logo {
    width: 201px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (min-width: 481px) and (max-width: 991px) {
        width: 200px;
    }

    @media (max-width: 480px) {
        width: 40px;
    }
}

.menu_logo_icons {
    width: 40px;
    height: 40px;
}

.menu_logo_text {
    color: #212121;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 0;

    @media (max-width: 480px) {
        display: none;
    }
}


.nav-icon {
    margin: 1em;
    width: 40px;
    display: none;

    @media (min-width: 481px) and (max-width: 991px) {
        display: block;
    }

    @media (max-width: 480px) {
        display: block;
    }
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: #D7B399;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}


.nav-icon-close:after,
.nav-icon-close:before,
.nav-icon-close div {
    background-color: #D7B399;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon-close:before {
    transform: translateY(12px) rotate(135deg);
}

.nav-icon-close:after {
    transform: translateY(-12px) rotate(-135deg);
}

.nav-icon-close div {
    transform: scale(0);
}